<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

  <!-- Tab Principal -->
  <ion-tab title="Procurar" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/app/procurar">
    <ion-nav-bar class="titulo"><ion-nav-back-button></ion-nav-back-button></ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-tab>

  <!-- Tab Informações -->
  <ion-tab title="Info" icon-off="ion-ios-information-outline" icon-on="ion-ios-information-outline" href="#/app/sobre">
    <ion-nav-view name="menuInfo"></ion-nav-view>
  </ion-tab>

</ion-tabs>
